<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kent.hyperdeals">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>



    <application
        android:allowBackup="true"
        android:icon="@drawable/hyperdealslogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".NavigationBar.Main3Activity"
            android:label="@string/title_activity_main3"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NavigationOptionsActivity.Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity android:name=".NavigationOptionsActivity.Notifications"></activity>
  <!--      <activity android:name=".FragmentActivities.FragmentProMapList" />-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyADCR_8nz3vr0LJ_6c_VAIpwFCwzL_KfPI" />
    </application>

</manifest>